<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <h1><%= @name %>様</h1>
    <br>
    <a href=<%= @url%>>こちらをクリックしてメールアドレスを認証してください</a>
    <p>※リンクの有効期限は30分です。</p>
    <br>
    <p>どうぞよろしくお願い致します。</p>
    <p>COMPASS</p>
</body>

</html>