<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <p>COMPASSサポートデスクです。</p>
    <p>メールアドレス変更の操作がありました。</p>
    <p>以下のURLより、メールアドレス変更のお手続きを完了してください。</p>
    <p>===============================================</p>
    <a href=<%= @url%>>こちらをクリックしてメールアドレスを認証してください</a>
    <p>※リンクの有効期限は30分です。</p>
    <p>===============================================</p>
    <br>
    <p>なお、当メールのアドレスは送信専用となっております。</p>
    <p>このメールへの返信はできませんのでご了承ください。</p>
</body>

</html>