<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <h1><%= @user.name %>様<br />COMPASSへようこそ。</h1>
    <br>
    <p>この度は会員登録ありがとうございます。</p>
    <br>
    <p>COMPASS</p>
</body>

</html>