<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <h3><%= @name %>様</h3>
    <p>COMPASSサポートデスクです。</p>
    <br>
    <p>この度はCOMPASSに会員登録していただき、ありがとうございます。</p>
    <p>ご利用いただく中で何かご不明なことなどございましたら、お気軽にお問い合わせください。</p>
    <p>今後ともどうぞよろしくお願いいたします。</p>
    <br>
    <p>なお、当メールのアドレスは送信専用となっております。</p>
    <p>このメールへの返信はできませんのでご了承ください。</p>
    <p>COMPASS</p>
</body>

</html>